.cache
__pycache__
DB
settings.json
test/
test.py
output/
*.spec
build/
dist/
node_modules
venv
*.bat
*.tpps
openvpn/auth/*
openvpn
php/
addons/*

!addons/ExamplePlugin/*
!addons/vidsrc/*
!addons/2embed/*