<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Vortex | Login</title>
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div class="login-page">
  <div class="v-logo"><p>Vortex</p></div>
  <div class="form">
    <form method='POST' action='/login?ref={{ ref }}' class="login-form">
      <h1>Sign In</h1>
      <input name="username" type="text" placeholder="Username"/>
      <input name="password" type="password" placeholder="Password"/>
      <button>Sign In</button>
      
      {%if allowRegister%}
      <div style="color: #848484;margin-top: 2px;text-align: left;margin-bottom: 16px;">
        Don't have an account?
        <a href="/create?login=true">register here</a>
      </div>
      {% endif %}
    </form>
  </div>
</div>
<script>
  const msg = "{{ msg }}";
  if (msg) {alert(msg);}
</script>
</body>
</html>
