<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Vortex | Player</title>
    <meta name="viewport" content="width=1920, height=1080, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <script src="/static/js/playerjs.js"></script>
    <style>
        html, body {
            background-color: black!important;
            height: 98vh;
        }
    </style>
</head>
<body>
    <div id="player" style="width:100%;height:100%"></div>
    <script>var player = new Playerjs({id:"player",poster:"/api/banner/{{ id }}?do=show",file: JSON.parse("{{ sources }}".replaceAll('&#34;', '"').replaceAll('&amp;', '&'))});</script>
</body>
</html>